@charset "UTF-8";
[data-view]{
	display: none;
}
[data-face]{
	display: none;
	padding-top: 20px;
}

[data-face].is-active{
	display: block;
}

#message-container{
	position: fixed;
	bottom: 0;
	z-index: 1;
	width: 90%;
	padding: 0 20px;
}

#order-notifier{
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1;
	width: 20%;
	padding: 0 20px;
}

.uncomplete{
	color: #d25b5b
}

.complete{
	color: #4d8c36
}

.texto_legal_rgpd{
	color: grey;
}