<!-- 
JavaScript engine templates
-->
<div id="ofwc-templates" style="display: none">
	<div id="ofwc-tpl_message">
		<div class="callout" data-closable>
			<span>{message}</span>
			<button class="close-button" aria-label="Dismiss message"
				type="button" data-close>
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	
	<div id="ofwc-tpl_loading">
		<div data-loading class="fa fa-spinner fa-pulse fa-fw"></div>
	</div>
	
</div>